/* ADD FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

*{font-family: 'Nanum Gothic', sans-serif;}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 90%;
    overflow-y: hidden;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e0e;
    color: white;
    box-shadow: 0px 7px 5px #0e0e0e;
    padding: 0 3%;
}

.navbar .color-img{
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px darkgrey;
}

.navbar li{
    letter-spacing: 0.05em;
    list-style: none;
    font-size: 2em;
    font-weight: 600;
}
.navbar li .color-title{
    margin: auto;
}

.navbar .info svg {
    background: white;
    border-radius: 20px;
    border: 2px solid white;
}

.full-height {
    height: 100%;
}

.div1 {
    background-color: 'red';
    display: flex;
    justify-content: center;
    align-content: center;
}

.btnChange {
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
    border-radius: 15px;
    /* box-shadow: none; */
    /* border-style: double; */
    border-style: none;
    text-align: center;
    color: limegreen;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px 1px #333;
    background-color: #0e0e0e;
}

tr, span {
    letter-spacing: 1px;
    font-size: larger;
}

td{
    margin: auto;
    padding: 10px;
}

.btnChange:focus-visible{
    outline: none;
} 

.bodyClass {
    height: 100%;
    display: grid;
    place-content: center;
}